<html>
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
      <script src = "javascripts/contactController.js" ></script>
      <title>Web Application</title>
</head>

<body ng-app="myContactApp">

      <!-- *** Add Contact Module Begin *** -->

    <div ng-controller="myContactAppControl" class="container">
          <button ng-click="toggleAdd()" class="btn btn-default" >Add Contact</button>
          <modal title="Add Contact" visible="showAdd" >
            <form role="form" ng-submit="addContact()">
              <div class="form-group">
                <label for="fname">First Name</label>
                <input type="text" name="firstName" class="form-control" id="fname" ng-model = "data.firstName" 
                  placeholder="Enter First Name" required maxlength="60" minlength="1" />
              </div>
              <div class="form-group">
                <label for="lname">Last Name</label>
                <input type="text" name="lastName" class="form-control" id="lname" ng-model = "data.lastName" 
                    placeholder="Enter Last Name" required/>
              </div>
               <div class="form-group move-down">
                  <label for="Autocomplete">City</label>
                  <input type="text" id="Autocomplete" class="form-control" ng-autocomplete="result1" 
                    details="details1" options="options1"/>
              </div> 
                
              <div class="form-group">
                <label for="mobile">Mobile No.</label>
                <input type="number" ngMinlength = "10" ngMaxlength = "11" name="mobile" class="form-control" id="mobile" ng-model = "data.mobile" 
                  placeholder="Enter Mobile No." required />
              </div>
              <div class="form-group">
                <label for="telephone">Telephone No.</label>
                <input type="text" name="telephone" class="form-control" id="telephone" ng-model="data.telephone" 
                  placeholder="Enter Telephone No." />
              </div>
              <div class="form-group">
                <label for="emailID">Email ID</label>
                <input type="email" name="emailID" class="form-control" id="emailID" ng-model = "data.emailID" 
                  placeholder="Enter Email ID" required />
              </div>
              <button type="submit" class="btn btn-default" >Add</button>
              <button type="submit" class="btn btn-default" data-dismiss = "modal">Cancel</button>
            </form>
          </modal>
    </div>
                    <!-- *** Add Contact Module Ends Here *** -->


                     <!-- *****Update Contact Module Begin ***** -->

  <div ng-controller="myContactAppControl" class="container"> 
    <button ng-click="toggleUpdate()" class="btn btn-default">Update Contact</button> 
    <modal title="Update Contact" visible="showUpdate" >
        <form role="form" >
          <div class="form-group">
            <label for="updateContact"> Select One Of The Options</label><br/>
            <select ng-model="selectedUpdate" id="updateContact" ng-options="update for update in Updates" >
            </select>
           
                     <!-- *****Update Cotact with selected option Email Module***** -->

              <div class = "container" ng-switch on="selectedUpdate">
                <div class="container" ng-switch-when="Email">
                  <form role="form"  >
                    <div class="form-group">
                      <label for="selectedEmailID">Email ID</label> 
                      <input type="email" name = "selectedEmailID" class="form-control" id="selectedEmailID" 
                        ng-model = "data.selectedEmailID" placeholder = "Enter Email ID" required="true" />
                    </div>
                    <button type="submit" ng-click = "updateContactEmail()" class="btn btn-default" >Continue</button>
                    <button type="submit" class="btn btn-default" data-dismiss = "modal">Cancel</button>
                  </form>
                </div>
             
          <!-- Update Cotact with selected option Mobile Module -->

                <div class = "container" ng-switch-when="Mobile">
                  <form role="form">
                    <div class="form-group">
                      <label for="selectedMobileNo">Mobile No.</label>
                      <input type="text" name = "selectedMobileNo" class="form-control" id="selectedMobileNo" 
                        ng-model = "data.selectedMobileNo" placeholder="Enter Mobile No." required="true"/>
                    </div>
                    <button type="submit" ng-click = "updateContactMobile()" class="btn btn-default" >Continue</button>
                    <button type="submit" class="btn btn-default" data-dismiss = "modal">Cancel</button>
                  </form>
                </div>
              </div>
        </div>
    </form>
  </modal>
</div> 

<!-- *****Delete Contact Module Begin ***** -->

<div ng-controller="myContactAppControl" class="container"> 
  <button ng-click="toggleDelete()" class="btn btn-default">Delete Contact</button> 
  <modal title="Delete Contact" visible="showDelete">
    <form role="form">
      <div class="form-group">
        <label for="deleteContact">Select One Of The Options</label><br/>
        <select ng-model="selectedDelete" ng-options=" delete for delete in Deletes">
        </select>
          
      <!-- Delete Cotact with selected option Email Module -->

        <div class = "container" ng-switch on="selectedDelete">
              <div class="container" ng-switch-when="Email">
          
            <form role="form">
              <div class="form-group">
                
                <label for="Selected Email ID">Email ID</label>
                <input type="email" name="selectedEmailID" class="form-control" id="selectedEmailID" 
                  ng-model = "data.selectedEmailID" placeholder="Enter Email ID" required="true" />
              </div>
              <button type="submit" class="btn btn-default" ng-click = "deleteContactEmail()">Continue</button>
                    <button type="submit" class="btn btn-default" data-dismiss = "modal">Cancel</button>
            </form>
          </div>
        
      
      <!-- Delete Cotact with selected option Mobile Module -->

      <div class = "container" ng-switch-when="Mobile">
        
          <form role="form">
            <div class="form-group">
               
              <label for="selectedMobileNoDelete">Mobile No.</label>
              <input type="text" name ="selectedMobileNo" class="form-control" id="selectedMobileNoDelete" 
                ng-model = "data.selectedMobileNo" placeholder="Enter Mobile No." required="true"/>
            </div>
            <button type="submit" class="btn btn-default" ng-click = "deleteContactMobile()" >Continue</button>
            <button type="submit" class="btn btn-default" data-dismiss = "modal">Cancel</button>
          </form>
        </div>
      </div>
    </div>
    
  </form>

</modal>
</div> 
<div ng-controller="myContactAppControl" class="container"> 
    <button ng-click="toggleUpdate()" class="btn btn-default" >All Contact Details</button>
    </div>
<!-- </table> -->
</body>
</html>